<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizado</title>
    <link href = "css/styles.css" rel = "stylesheet"/>
</head>
<body>


    <div class="b_titulo_1" >
        <p th:if="${message != null}" th:text="${message}"></p>
    </div>

    <div class="movie-card">
        <p class="movies-container_titulo-1" th:text="${movies.movie_name}"></p>
        <img th:src="${movies.url}" alt="Película sin poster">
    </div>

    <div class="b_boton">
        <a href="/"><button class="btn btn-primary"> Volver al inicio</button></a>
    </div>


</body>
</html>