<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Inicio</title>
</head>
<body>

<div class="b_index_padre">
    <div class="b_index_header">
        <h1>PELÍCULAS DOS SANTOS</h1>
        <h2>Elije alguna de las opciones:</h2>
    </div>

    <div class="b_index_botones_padre">
        <div class="b_index_botones">
            <div class="b_boton">
                <a href="/listado">
                    <button class="btn btn-primary"> Listado de peliculas</button>
                </a>
            </div>
            <div class="b_boton">
                <a href="/add">
                    <button class="btn btn-primary"> Crear película</button>
                </a>
            </div>
            <div class="b_boton">
                <a href="/update">
                    <button class="btn btn-primary"> Actualizar película</button>
                </a>
            </div>
            <div class="b_boton">
                <a href="/delete">
                    <button class="btn btn-primary">Borrar película</button>
                </a>
            </div>
        </div>
        <div >
            <p class="b_p">Puedes buscar una película que obligatoriamente tenga imagen</p>
        </div>
    </div>


    <form class="b_form_1" action="moviebyid" method="post">

        <div class="b_form_contenido">
        <label class="col-form-label col-form-label-lg mt-4" for="id">
            ID de la película:
        </label>
        <input class="form-control form-control-lg" type="text" name="id" id="id">
        <hr>
        <input class="btn btn-primary" type="submit" value="Buscar una película por ID">

            <p class="b_mensaje_error" th:if="${message != null}" th:text="${message}"></p>

        </div>
        <div class="b_form_pelicula_desplegable" th:if="${movies != null}">

            <div class="b_titulo_1" >
            <p th:if="${message != null}" th:text="${message}"></p>

            <div class="movie-card movie-card1">
                <p class="movies-container_titulo-1" th:text="${movies.movie_name}"></p>
                <img th:src="${movies.url}" alt="Pelicula sin poster">
            </div>
        </div>

        </div>

    </form>
</div>



</body>
</html>