<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Películas</title>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="b_titulo">
    <h2>Listado de películas</h2>
</div>
<div class="movies-container">
    <div th:each="movie, iterStat : ${movies}" class="movie-card">
        <p class="movies-container_titulo" th:text="${movie.movie_name}"></p>
        <img th:src="${movie.url}" alt="Pelicula sin poster">
        <p class="movies-container_id" th:text="${movie.id}"></p>
    </div>
</div>
<div class="b_boton">
    <a href="/"><button class="btn btn-primary"> Volver al inicio</button></a>
</div>
</body>
</html>
